[2016-01-04 21:25] gep13 opened #1 "Add Snippet for Install-ChocolateyPackage"

[2016-01-06 21:08] gep13 commented on #1
This should include:

`$ErrorActionPreference = 'Stop';`

Similar to what is shown here:

https://chocolatey.org/packages/google-books-downloader/2.6

[2016-01-09 22:18] #1 closed

[2016-01-09 22:46] gep13 opened #2 "Make build script use prerelease flag"
So that all releases are created as Pre-Release in Github, until we reach 1.0.0

[2016-01-10 13:25] gep13 opened #3 "Add snippet for Uninstall-Chocolatey Package"

[2016-01-10 13:26] gep13 opened #4 "Change Build Script to use latest Cake.VsCode"

[2016-01-10 13:38] #4 closed

[2016-01-10 13:39] #2 closed

[2016-01-10 14:10] #3 closed

[2016-01-10 14:16] gep13 opened #5 "GRM doesn't currently upload asset"

[2016-01-26 12:52] #5 closed

[2016-01-26 12:54] gep13 opened #6 "Snippets don't work in VS Code"
As reported by @tirolo

[2016-01-26 12:58] #6 closed

[2016-01-26 13:02] tirolo commented on #6
That was silly :P

Is it going to be out soon?

[2016-01-26 13:26] gep13 commented on #6
That was silly :P

Indeed :smile_cat:

Yip, already pushed out and available in the marketplace.

[2017-11-26 21:57] gep13 opened #7 "Add ability to execute choco new command"

[2018-09-10 09:47] #7 closed

[2018-09-10 17:49] michaeltlombardi opened #9 "New Command: Pack"
It would be very useful to be able to run `choco pack` via the command palette in VSCode, so I could stay in one context for my package development.

## Expected Behavior
[code]

## Current Behavior

I have to run `choco pack` from the command line somewhere.

## Possible Solution
Implement as a command palette option.

## Context
Now that there's a command for creating new package scaffolding, it

[2018-09-10 20:49] gep13 commented on #9
@michaeltlombardi couple questions about this, as I actually thought about this command as well....

* Would the extension search for all `nuspec` files in the current workspace?  Or would it expect that there is only one?
* Should the `nuspec` file location be passed in relative to the current workspace root, or should navigation to the same folder of the nuspec occur prior to running `choco pack

[2018-09-10 21:12] gep13 commented on #9
@michaeltlombardi perhaps the extension should search the current workspace for nuspec files, and then allow the user to select which one to pack?

[2018-09-11 09:09] gep13 commented on #9
@michaeltlombardi so, I had a quick play last night...

What do you think of the following as a quick prototype?

![2018-09-11_10-07-22](https://user-images.githubusercontent.com/1271146/45349934-92659a00-b5aa-11e8-9204-f27b013d401a.gif)

If you were to open something like this repo:

https://github.com/chocolatey/chocolatey-coreteampackages

Then the ability to support lots of nuspec files in the

[2018-09-12 14:37] michaeltlombardi commented on #9
This is an _awesome_ first pass! This is even better than what I'd envisioned for a first implementation, love that it picks up the files in the workspace.

👍

[2018-09-13 07:49] gep13 commented on #9
@michaeltlombardi sweet!  I have a little bit of tidy up work to do on it, but I will ship a version, hopefully, this weekend, and you can check it out.

What's next? 😄

[2018-09-14 20:01] michaeltlombardi opened #10 "Local Testing Workflow"
It'd be useful to be able to provide some sort of loosely prescriptive local testing workflow and aids.

## Expected Behavior
[code]

## Current Behavior
I am mostly on my own (with the aid of docs and blogs) for managing my own testing workflow.

## Possible Solution
Consider adding either a test-kitchen scaffold, vagrant boxes, or dockerfiles to a project workspace and a default script for build

[2018-11-24 13:47] gep13 opened #11 "Add a code of conduct"

[2018-11-24 13:48] gep13 opened #12 "Use standard labels"

[2018-11-24 13:52] #12 closed

[2018-11-24 13:56] #11 closed

[2018-11-24 14:12] gep13 opened #13 "Change banner colour in gallery to match azuredevops extension"

[2018-11-24 14:13] #13 closed

[2018-11-24 14:14] gep13 opened #14 "Create basic wyam documentation site"

[2018-11-24 16:55] #14 closed

[2018-11-24 16:55] gep13 opened #15 "Add editorconfig file"

[2018-11-24 17:00] #15 closed

[2018-11-24 17:14] gep13 opened #16 "Only build documentation when something has changed"
Similar to how Cake.Recipe does it

[2018-11-24 17:51] #9 closed

[2018-11-26 19:44] gep13 opened #17 "Create a new command to delete nupkgs in workspace"
This will work similar to the code to find nuspec's in the current workspace.  Once found, provide the ability to select to delete all nupkgs, or to delete a single one.

[2018-11-26 20:17] #17 closed

[2018-11-26 20:18] gep13 opened #19 "Add command to push nupkg files"
Again, similar to exiting function to pack nuspec files, search for nupkgs, and if found, prompt for where to push, and then execute push command.

[2018-11-26 21:27] AdmiringWorm opened #20 "Provide a chocolatey package for the extension"
## Expected Behavior
Basically be allowed to do a `choco install chocolatey-vscode` (or something similiar), instead of downloading the vsix manually and running `code --install-extension`. As well as easier to be kept up to date with new releases.

## Current Behavior
No package is provided.

## Possible Solution
Sorry, I don't really believe it's necessary to provide a solution (as you already k

[2018-11-26 21:34] AdmiringWorm opened #21 "chocolateyUninstall snippet is outdated"
## Expected Behavior
I would expect the snippets to be similiar to the output when running `choco new` (without the comments).

## Current Behavior
The current behaviour of the uninstall snippets is to output the edition of `choco new` several years ago (probably from 2016).

## Possible Solution
Update it to be similiar to the current edition of choco.

## Steps to Reproduce (for bugs)
1. Add a n

[2018-11-26 22:42] gep13 commented on #20
@AdmiringWorm I totally hadn’t thought of this! Great idea!

If you are up for submitting a PR for this I would have no objections.

[2018-11-26 22:43] AdmiringWorm commented on #20
Sure thing, I'll look into adding one tomorrow

[2018-11-26 22:43] gep13 commented on #21
Strange, I thought this was already correct, but I will admit, I haven’t checked it recently 😄 Happy to accept a PR to update it.

[2018-11-26 22:43] gep13 commented on #21
Are there any other snippets that you think would be useful?

[2018-11-26 22:44] AdmiringWorm commented on #21
I wouldn't exactly say it's invalid, it is still one way to do it.
Just thought perhaps it should be closer to how `choco new` generates the template

[2018-11-26 22:45] AdmiringWorm commented on #21
Oh, I know of a few. But those may perhaps be a little to explicit (like, snippets for zip archives, embedded software, microsoft update packages, etc). (perhaps not the last one though)

[2018-11-26 22:47] AdmiringWorm commented on #21
perhaps also a snippet for starting/stopping services (not everyone knows how to do this, and I always forget how 😄)

[2018-11-27 08:09] gep13 opened #22 "Placeholder"

[2018-11-27 08:49] gep13 commented on #20
@AdmiringWorm sweet!  Let me know if you have any questions.

[2018-11-27 08:50] gep13 commented on #21
@AdmiringWorm all of those sound like worthwhile additions to be.  My original thought process had been to take the contents of `choco new` and break it down into chunks for each of the ways of doing a package, basically, what you have listed out above.

I would be happy to see all of those added to this extension.

[2018-11-27 15:44] AdmiringWorm commented on #20
seems like it will take a little longer, some stuff came up today so I don't believe I'll be able to create a PR today 😞.

Hopefully tomorrow.

[2018-11-27 16:02] gep13 commented on #20
@AdmiringWorm not a problem at all, just whenever you have time.

[2018-11-27 20:56] #19 closed

[2018-11-27 21:03] gep13 opened #24 "Add build task for Twitter and Gitter for announcing releases"
Similar to what is done in Cake.Recipe

[2018-11-27 21:07] gep13 opened #25 "Take a dependency on Zip File Explorer Extension"
To allow the viewing of the generated nupkg's within VSCode to ensure that everything is ok with generated Chocolatey Package:

https://marketplace.visualstudio.com/items?itemName=slevesque.vscode-zipexplorer

[2018-11-28 07:27] gep13 opened #26 "Take a dependency on the PowerShell extension"
Creating Chocolatey Packages is all about the PowerShell, so makes sense that this extension is installed.

[2018-11-28 07:29] gep13 commented on #25
Based on this conversation, it should be possible to also enable the correct configuration to make it work OOTB with nupkg's as well.

Using the configuration suggested here:

https://github.com/DarwinJS/PowerShellDevOpsSummit2018/blob/master/code/07_VSCodeCurationSetup.ps1#L4-L11

[2018-11-28 19:47] gep13 opened #28 "Add release notes to nuspec on tagged build"

[2018-11-28 20:04] gep13 commented on #20
I have added the environment variables to AppVeyor, so this should be ready to push on the next release.

[2018-11-28 20:05] gep13 commented on #20
@AdmiringWorm are you happy to close this issue, and continue any remaining work in separate issues, like GH-28?

[2018-11-28 20:17] #26 closed

[2018-11-28 20:43] AdmiringWorm commented on #20
@gep13 sure

[2018-11-28 20:43] #20 closed

[2018-11-29 22:36] gep13 commented on #25
Waiting on a response here:

https://twitter.com/ErichGamma/status/1068029350006718464

Before making a final decision about this PR.

[2018-11-30 12:36] AdmiringWorm opened #32 "Reports that choco is not installed when workspace is not open"
## Expected Behavior
While I really didn't expect it to work, I did expect that the extension
would report the actual reason why it happens. (This is when creating a new package).

## Current Behavior

If no folder/workspace is opened and error is reported with the message
`Chocolatey is not installed.`.

## Possible Solution

Change the message to notify the user that a folder/worskpace needs to

[2018-11-30 14:08] AdmiringWorm opened #33 "Allow selection of installed templates when creating new packages"

[2018-12-01 13:05] #33 closed

[2018-12-01 13:09] #24 closed

[2018-12-01 13:17] #25 closed

[2018-12-01 13:18] gep13 opened #35 "Add .gitattributes file"
To ensure consistent line endings between different operating systems.

[2018-12-01 13:30] #35 closed

[2018-12-01 13:32] gep13 commented on #35
As per documentation here: https://help.github.com/articles/dealing-with-line-endings/

[2018-12-01 13:39] gep13 commented on #32
@AdmiringWorm thanks for catching this!

[2018-12-01 13:46] #32 closed

[2018-12-01 17:17] gep13 opened #38 "Ability to pass arguments to choco new command, when values are stored in user/workspace settings"
VS Code has the ability to house extension related settings in user/workspace settings file.

It would be good to be able to specify some common things in these settings, like maintainer/owner name, etc.  Then, when using these in conjunction with the `choco new` command via the `Create Chocolatey Package(s)` command, automatically pass these values through.

This idea was suggested by @AdmiringWo

[2018-12-01 17:52] AdmiringWorm commented on #38
I would suggest the format of the extension settings to be similiar to the below example:
[code]

^^ Configuration per command, or the below
[code]

^^ Global configuration for the whole extension

[2018-12-01 17:57] gep13 commented on #38
An example of defining configuration can be found here:

https://github.com/cake-build/cake-vscode/blob/develop/package.json#L101-L297

Which renders the following:

![image](https://user-images.githubusercontent.com/1271146/49331287-8a5a3c80-f592-11e8-97f4-be83be10989a.png)

And then which can be consumed in code here:

https://github.com/cake-build/cake-vscode/blob/develop/src/cakeMain.ts#L27

[2018-12-01 21:04] #16 closed

[2018-12-01 21:40] gep13 opened #41 "Create command to install Chocolatey Template Packages"
This should allow setting of a list of package names to install, and also a source to get them from.

[2018-12-01 22:32] AdmiringWorm commented on #38
Unless I'm missing something, the PR you're linking to is unrelated to this issue.

Looks like you've implemented a way to install templates in that PR, not added the ability to store a maintainer name in the user/workspace settings.

[2018-12-01 22:39] gep13 opened #43 "Publish Chocolatey Package as artifact"

[2018-12-01 22:41] AdmiringWorm commented on #43
Appveyor artifact?

Yeah, completely forgot about that

[2018-12-01 22:43] gep13 commented on #43
Yip, an AppVeyor Artifact.  I completely forgot about it as well.  Only noticed once the build was actually running.

[2018-12-02 20:14] #43 closed

[2018-12-03 07:32] gep13 opened #45 "Add link to release notes in Gitter/Twitter messages"

[2018-12-03 07:35] #45 closed

[2018-12-03 15:20] gep13 commented on #38
EDIT: NVM, I see now what you meant

😄

Sorry, I should have made myself clearer.  The ability to install templates brought with it the requirement to also have some configuration which the user can change.  As a result, I went ahead and added this to the package.json file, following the first option which you mentioned above.  I am suggesting that any additional configuration that is added to the

[2018-12-03 15:21] gep13 commented on #38
And to give an example:

[code]

The above is the new default configuration which is contributed by the extension around installing templates onto the current machine.

[2018-12-03 19:35] gep13 opened #46 "Add mergify file to delete branches after merge"
Add mergify file to automatically delete feature branches after merge

[2018-12-03 19:41] #46 closed

[2019-01-26 01:29] andrewtchilds opened #68 "PowerShell Preview extension"
Chocolatey takes a dependency on the PowerShell extension, so VS Code throws an error when you try to disable it in lieu of the newly released [PowerShell Preview](https://marketplace.visualstudio.com/items?itemName=ms-vscode.PowerShell-Preview) extension.

Not sure if it's possible to do in VS Code's extension manifest, but it would be nice to be able to run the Chocolatey extension alongside the

[2019-01-26 09:12] gep13 commented on #68
@andrewtchilds thanks for raising this issue!  I wasn't aware of that extension.  I will try to figure out if there is a way of supporting both, and if not, I will likely remove the dependency so that either can be used.

Can you provide more details about how exactly the error is shown when trying to so what you are doing?  Perhaps with a screenshot?

[2019-01-26 15:52] andrewtchilds commented on #68
Thanks @gep13!

Here's the error that I get when I try to disable the PowerShell extension:
![image](https://user-images.githubusercontent.com/17715542/51789595-d6b79800-214f-11e9-8e60-9abb47b64f9f.png)

[2019-01-26 20:08] #68 closed

[2019-01-26 20:16] gep13 commented on #68
@andrewtchilds If you update to 0.7.0 of the Chocolatey VSCode Extension, you should be able to disable the PowerShell Extension.

Let me know if you still have issues.

[2019-01-26 20:20] andrewtchilds commented on #68
Looks good, thanks again @gep13!

[2019-01-26 20:58] gep13 commented on #68
thanks again

You are very welcome!

[2019-01-27 20:52] gep13 opened #69 "Integrate with MacOS Touchbar"
@steviecoaster to provide more details 😄

[2019-01-27 20:54] gep13 opened #70 "Provide nuspec language support"
Which would allow error checking/linting of the nuspec files, as they are being created, to highlight common problems, and provide suggestions.

[2019-02-08 08:57] mholo65 opened #82 "Unable to build on"
## Expected Behavior
It should build 😄

## Current Behavior
Running `.\build.ps1` will result in following output:
[code]

Running
[code]
Will result in following log:
[code]

Examining log ` C:\Users\mb\AppData\Roaming\npm-cache\_logs\2019-02-08T07_44_00_325Z-debug.log` shows following:

[code]

## Possible Solution
Dunno, too old node/npm version? Update of deps breaking?

## Steps to Reproduce

[2019-02-08 11:11] gep13 commented on #82
@mholo65 can you run the following?

` tsc --version`
`npm --version`
`node --version`
`& where.exe tsc`

and compare your output to the following:

![image](https://user-images.githubusercontent.com/1271146/52475081-48510680-2b92-11e9-826b-9d4567004bef.png)

As it works on my machine 😄

[2019-02-08 13:11] mholo65 commented on #82
[code]

[2019-02-08 14:02] mholo65 commented on #82
closing, nvm now it works... I had some deps modified, therefore it didn't compile...

[2019-02-08 14:02] #82 closed

[2019-02-08 15:50] gep13 commented on #82
@mholo65 ok, cool, thanks for following up!

[2019-02-13 07:41] gep13 opened #89 "Update GRM config to include security label"

[2019-02-13 07:42] #89 closed

[2019-02-13 07:45] gep13 opened #90 "Update to latest Wyam release"
So that Wyam can run on a Mac.

[2019-02-13 07:49] #90 closed

[2019-02-13 09:32] gep13 commented on #70
@mkevenaar @steviecoaster if either of you are interested in helping with the validator rules within the VSCode extension, I have now checked in a working sample of the templated variables being highlighted as errors.

In order to get this to work on your machine, you will have to do the following:

* Navigate into the `src/Chocolatey.Language.Server` folder
* Run the following command `dotnet bui

[2019-02-13 09:35] gep13 commented on #70
@mkevenaar @steviecoaster @AdmiringWorm I have updated the original comment with the initial set of rules that I think should be applied.  I would suggest, assuming that you are interested in helping, that we take 1 rule at a time.  i.e. 1 rule per PR.

[2019-02-13 09:38] mkevenaar commented on #70
@gep13 do you want to implement the rules from https://github.com/chocolatey/package-validator/pull/184 also?

[2019-02-13 09:38] gep13 commented on #70
@mholo65 I have added the initial implementation of this into the Chocolatey VSCode Extension.  I haven't included the schema validation just yet, as there is a question over where exactly that schema is going to reside, so leaving that out for now, but I will add it in once everything is in place.  Thanks again for all your help on getting this started!

[2019-02-13 09:39] gep13 commented on #70
do you want to implement the rules from [chocolatey/package-validator#184](https://github.com/chocolatey/package-validator/pull/184) also?

Yes, that makes sense.  If you can list all the ones that "will" be included, I will get them added to the list above

[2019-02-13 09:44] mkevenaar commented on #70
- [ ] https://github.com/mkevenaar/package-validator/blob/feature/GH-160/src/chocolatey.package.validator/infrastructure.app/rules/ReleaseNotesUrlsValidRequirement.cs
- [ ] https://github.com/mkevenaar/package-validator/blob/feature/GH-160/src/chocolatey.package.validator/infrastructure.app/rules/DocsUrlValidRequirement.cs
- [ ] https://github.com/mkevenaar/package-validator/blob/feature/GH-160/sr

[2019-02-13 09:45] mholo65 commented on #70
@gep13 great work! As for the Schema, I’d recommend that you use an unique namespace instead of the NuGet’s NuSpec namespace. If I understood correctly, you have a couple of additional elements that’s not available in the NuGet NuSpec.

[2019-02-13 09:46] gep13 commented on #70
DiagnosticSeverity.Error:

![image](https://user-images.githubusercontent.com/1271146/52702527-42816980-2f74-11e9-84e4-d0866d76260b.png)

DiagnosticSeverity.Hint: (Notice the little three dots)

![image](https://user-images.githubusercontent.com/1271146/52702473-24b40480-2f74-11e9-9ea7-f8a55d46e587.png)

DiagnosticSeverity.Information:

![image](https://user-images.githubusercontent.com/1271146/52

[2019-02-13 09:49] gep13 commented on #70
Based on the above, I think the mapping between the rule types should be the following:

DiagnosticSeverity.Error -> Requirement
DiagnosticSeverity.Warning -> Guideline
DiagnosticSeverity.Information -> Suggestion
DiagnosticSeverity.Hint -> Note

Thoughts? @mkevenaar @steviecoaster @AdmiringWorm

[2019-02-13 09:49] gep13 commented on #70
As for the Schema, I’d recommend that you use an unique namespace instead of the NuGet’s NuSpec namespace. If I understood correctly, you have a couple of additional elements that’s not available in the NuGet NuSpec.

That is exactly the question that I was referring to 😄

[2019-02-13 09:53] gep13 opened #92 "Add cake.config file"
So that this doesn't happen by default:

![image](https://user-images.githubusercontent.com/1271146/52702945-2b8f4700-2f75-11e9-91e4-42cd2016651e.png)

[2019-02-13 09:54] #92 closed

[2019-02-13 10:28] gep13 opened #93 "Rename old version of tsc on AppVeyor so latest installed version is used"
Due to the way that tsc is setup on AppVeyor, the latest installed version, located in the AppData folder isn't used, since the version in the Program Files folder is first in the path.

As a result, a hack is needed in the package.json file to make the build work.  Renaming the tsc.exe and tsc.js on the AppVeyor build image should make the build work

[2019-02-13 10:35] gep13 commented on #93
@steviecoaster this will mean that you no longer need to hack anything to get the extension to build on your Mac.

[2019-02-13 10:35] #93 closed

[2019-02-13 16:08] steviecoaster opened #94 "Add Feature -- 'Chocolatey: Add API key'"
From a "Getting Started" Perspective, it would be nice to add in the functionality of `choco apikey` to the Extension. This enables folks who are going to use VSCode exclusively to develop their packages a mechanism to never have to leave the environment, especially when working through creating a package for the first time.

Yes, the Integrated Terminal is there and can be used, however, I think

[2019-02-13 16:31] gep13 commented on #94
@steviecoaster this seems like a great idea to me! 👍

[2019-02-13 21:24] gep13 commented on #94
@steviecoaster are you wanting to take a stab at this?  If so, I can assign it to you.

[2019-02-13 21:44] steviecoaster commented on #94
Go ahead. I've already created a branch locally to add this. Typescript makes my brain hurt. Trying to decipher the other commands and see if I can reverse engineer it into making sense and then get it working :)

[2019-02-13 22:31] gep13 commented on #70
@AdmiringWorm @mkevenaar I have taken a stab at refactoring the code to use a similar system to package validator.  Now, all rules will be loaded based on whether they come from `INuSpecRule`.  Seems to work, but I will do some more testing.

[2019-02-14 20:13] #94 closed

[2019-02-15 19:18] mkevenaar commented on #70
To make sure that @AdmiringWorm, @steviecoaster, @gep13 and I are not working on the same rule, @gep13 suggested to update the issue; So here goes:

I am going to work on:
* NuspecEnhancementsMissingSuggestion.cs

[2019-02-16 01:03] gep13 opened #102 "Switch to using Cake.VsCode.Recipe"
This will be a used by all the vscode extensions that I create, and therefore will benefit to any additions that are made to it, rather than duplicating code into multiple places.

[2019-02-18 13:44] AdmiringWorm opened #103 "Change the language server to make use of parallel processing for rules"
Not really sure what to add here, think the title pretty much says it all.

[2019-02-18 13:51] AdmiringWorm opened #104 "Create base class to help creating rules easier"
## Expected Behavior
Creating new rules should be as easy as possible.

## Current Behavior
Currently we need to add all the logic our self, which results in duplication of code.

## Possible Solution
Create a base class with methods to easily create diagnostics, getting nuspec elements, etc.

## Additional
I'm already working on creating this base class.

[2019-02-18 14:01] gep13 commented on #104
Sounds like a great idea to me!

[2019-02-18 14:02] AdmiringWorm commented on #104
@gep13 Anything you want to see in the base class?

Currently I've added methods to create Diagnostics (Requirement, Guidelines, Suggestions and Notes) as well as a single method to get a element by its name.

[2019-02-18 14:05] gep13 commented on #104
Those sound like the obvious candidates just now, don't need to get "everything" there initially, we can add any others that come up as we are filling out the remaining rules.

[2019-02-18 15:55] mkevenaar commented on #104
I was thinking about this myself as well! Thanks for starting this @AdmiringWorm!

[2019-02-19 17:46] AdmiringWorm commented on #38
I'm looking into implementing this now, and I'm thinking of instead of restricting the allowed properties that the user can set I would like to implement it in a way that users can set pretty much anything they want.

[2019-02-19 19:24] AdmiringWorm opened #108 "Create new package in specified directory"
## Expected Behavior
Would expect the created package to be created in a subdirectory inside the directory that is selected.

## Current Behavior
Currently the package will always be created in a subdirectory in the root of the workspace.

## Possible Solution
Not sure yet.

## Steps to Reproduce (for bugs)

1. Open up a new work space
2. Create a new directory in the workspace
3. Select the direc

[2019-02-19 20:18] gep13 commented on #108
@AdmiringWorm this is as per the initial design.  I had envisioned having a folder structure similar to the AU template, where you would open the `automatic` folder as the workspace, and running the new command, would simply add a new folder with the selected template.

If we can make it so that the selected folder is the target for the new command, that would be pretty cool!

[2019-02-19 20:20] gep13 commented on #38
More information on what properties can be passed in is documented here:

https://chocolatey.org/docs/commands-new

[2019-02-19 20:21] #38 closed

[2019-02-19 20:22] AdmiringWorm commented on #38
I'm aware, I was just using 'maintainerName' as a test (actually also tested with a property not listed there, but in a custom template, which also replaced the value)

[2019-02-19 20:26] gep13 commented on #38
Oh yeah, absolutely.  Sorry, the above was more for a reminder for me.  When it comes to writing some documentation around this feature, I will likely point people to the above, and explain that they can create their own templates with their own variables.

[2019-02-20 08:24] gep13 opened #109 "Switch to using the new VSCode Extension package for Chocolatey"
https://chocolatey.org/packages/chocolatey-vscode.extension

Rather than adding the scripts directly into the package.

[2019-02-20 10:25] mkevenaar opened #110 "Create XmlElementSyntaxExtensions class for FindElementByName function"
See https://github.com/gep13/chocolatey-vscode/pull/105#discussion_r258221160

Function currently located at:
https://github.com/gep13/chocolatey-vscode/blob/develop/src/Chocolatey.Language.Server/Validations/NuspecRuleBase.cs#L41

[2019-02-22 19:23] mkevenaar commented on #104
I think the base class is implemented now, can this issue be closed @AdmiringWorm?

[2019-02-22 19:27] AdmiringWorm commented on #104
Yeah, it certainly can. I forgot it wasn't closed, due to the PR not being merged itself.

Not sure what to add as a label for this one though.

/cc @gep13

[2019-02-22 19:27] #104 closed

[2019-02-22 19:32] AdmiringWorm commented on #108
opening the `automatic` folder kind of defeats the benefit of having certain files in the root of a repository (like, for instance a `.editorconfig` file), as they wouldn't be detected.

So honestly, that would be a noop for me.

I do have a feeling it would be possible to get the selected folder though, although I haven't yet been able to figure out how.

[2019-02-22 19:34] AdmiringWorm commented on #108
Found this: https://github.com/Microsoft/vscode/issues/3553

so unfortunately it seems it isn't possible to get the currently selected folder, unless creating a menu for the explorer would be an option.

[2019-02-22 19:41] AdmiringWorm commented on #108
If having a context menu for when a user right-click a folder (which would be enough for me), I can look into implementing that.

Thoughts?

/cc @mkevenaar @gep13

[2019-02-22 19:45] mkevenaar commented on #108
@AdmiringWorm right click on the folder in vscode? Would work for me too!

I think another option would be:
an extra (first) step to ask for a folder name, by default it's empty
if the name of the folder is entered, check if the folder exists.
If it does not exists. Ask if the folder should be created.

[2019-02-22 20:59] gep13 commented on #104
@AdmiringWorm @mkevenaar apologies, this should have been closed.  I have added the `Improvement` label.

[2019-02-22 21:11] AdmiringWorm commented on #108
That certainly is also an option.

Personally I think I would prefer the ability to right click a folder though (mostly because I hate being prompted for input when it isn't necessary), not that any of them is mutually exclusive.

[2019-02-22 21:41] gep13 commented on #108
@AdmiringWorm some good points being made here, especially with regard to the top level folder.

I would have no objection to having a right click option on a selected folder.  I would suggest that this is in addition to the `new` command in the command palette.

[2019-02-22 21:43] AdmiringWorm commented on #108
@gep13 yeah of course, but I think the command and the menu context could use the same call as well (again, I haven't looked into this yet).

Basically, allowing the command to be passed in an argument, if it's null use the default workspace, if not use the path passed in (if at all possible).

[2019-02-22 21:49] gep13 commented on #108
@AdmiringWorm yip, that sounds like a good plan!

[2019-02-22 21:51] AdmiringWorm commented on #108
@gep13 great. 😄
I will look into it during this weekend then

[2019-02-25 09:49] mkevenaar opened #117 "Use diagnostic IDs for Language Server Packages"
Relates to #70

I have found that the `Diagnostic` object can contain a `DiagnosticCode` object. Containing an integer or string value.

Looking at different other vscode packages they use something like [APPLICATION CODE][NUMBER] In our case that would be CHOCO####, so I think we could go down that road.

If we would go with the numbered version I think we should group them a bit.

I would sugges

[2019-02-26 10:28] AdmiringWorm commented on #117
Not a bad idea IMO.

[2019-02-26 10:47] gep13 commented on #117
@mkevenaar this makes sense to me!

My only "concern" is regarding potential for growth.  Do we think that 100 is "enough" for each type?  Should we make it `CHOCO1###`?

[2019-02-26 10:50] mkevenaar commented on #117
@gep13 fine by me, let's go with 3 digits. 1000 potential issues per type, ought to be enough for anybody!

[2019-02-26 19:25] #108 closed

[2019-02-26 19:29] #102 closed

[2019-02-26 19:33] gep13 opened #121 "Allow sending configuration of extension to Language Server"
This will allow configuring of whether a specific rule should be ignored or not for the current workspace, or globally, etc.

A request can be made from the server for the client configuration here:

https://microsoft.github.io/language-server-protocol/specification#workspace_configuration

And it will require that this be implemented:

https://github.com/OmniSharp/csharp-language-server-protocol/

[2019-02-26 19:35] gep13 opened #122 "Allow creation of lightbulb (CodeActions) for Diagnostics"
This will allow something similar to the following:

![image](https://user-images.githubusercontent.com/1271146/53440932-9a50b380-39fd-11e9-927a-b40aa3c548a3.png)

i.e. to allow navigation to the wiki article for the Diagnostic.

This will require implementation of the following:

https://github.com/OmniSharp/csharp-language-server-protocol/blob/master/src/Protocol/Document/Server/ICodeActionHandl

[2019-02-26 19:37] gep13 opened #123 "Use HEAD request, rather than GET request"
In this location:

https://github.com/gep13/chocolatey-vscode/blob/develop/src/Chocolatey.Language.Server/UriExtensions.cs#L17

This will mean that no response is required to be sent to the client, and should speed things up.

Should be possible using HttpWebRequest, which can set the HEAD method type:

https://docs.microsoft.com/en-us/dotnet/api/system.net.httpwebrequest.method?view=netframework-

[2019-02-26 19:37] gep13 opened #124 "Add documentation around usage of example code"
As mentioned in this PR:

https://github.com/gep13/chocolatey-vscode/pull/120

[2019-02-26 20:02] gep13 commented on #28
This is actually something that now needs to be implemented in Cake.VsCode.Recipe.

[2019-02-26 20:03] gep13 commented on #28
New issue created here: https://github.com/cake-contrib/Cake.VsCode.Recipe/issues/3

[2019-02-26 20:03] #28 closed

[2019-02-26 20:18] mkevenaar commented on #123
@gep13 HTTP HEAD is not supported for all websites. Microsoft for example does not support the HEAD. That's why I have switched the validator to use full GET requests.

Implementing this **will** result in false positives.

[2019-02-26 20:37] gep13 commented on #123
@mkevenaar when you say it is not supported, what do you get back from the website when you make the request?  Would it be possible to first make a HEAD request, and then knowingly attempt a GET request?

Or better, could we change it to make a HEAD request, and only attempt a GET request in the event of a failure?

[2019-02-26 20:48] mkevenaar commented on #123
I believe Microsoft returned a HTTP status of 503.

Original URL: http://go.microsoft.com/fwlink/?LinkID=206977

[code]

I will look into a solution to implement this.

[2019-02-28 20:53] mkevenaar commented on #123
fixed with 7b90b47

[2019-02-28 20:53] #123 closed

[2019-02-28 22:02] gep13 commented on #122
Initial implementation of this has been completed, and should be continued as new rules are added to the project.

[2019-02-28 22:02] #122 closed

[2019-02-28 22:26] gep13 commented on #117
This is now being implemented.  I have been updating the issue here:

https://github.com/gep13/chocolatey-vscode/issues/70

When the diagnostic code has been assigned to a rule.

[2019-02-28 22:26] #117 closed

[2019-02-28 22:29] gep13 opened #129 "Start using InversifyJS"
As per this blog post:

https://rpeshkov.net/blog/vscode-extension-di/

As suggested by @AdmiringWorm

[2019-02-28 22:42] gep13 commented on #123
@mkevenaar thanks for closing this! 👍

[2019-02-28 23:31] AdmiringWorm opened #131 "Add context menu for packing nuspec files"
## Expected Behavior

Add a context menu to the explorer menu to allow users to select a directory containing nuspec files, or to select a nuspec file directory.

## Current Behavior

No Context menu available.

## Possible Solution

This context menu should then give the ability to run the pack command on the directory/file.

## Context

Just a nice feature to have.

## Your Environment

* Module

[2019-02-28 23:34] AdmiringWorm opened #132 "Add context menu for pushing nupkg files"
## Expected Behavior

Add a context menu to the explorer menu to allow users to select a directory containing nupkg files, or to select a directory containing nupkg files.

## Current Behavior

No context menu available.

## Possible Solution

This context menu should then give the ability to run the push command on the directory/file.

## Context

Just a nice feature to have.

## Your Environment

[2019-03-01 09:28] gep13 commented on #124
Also, need to mention the usage of code from this repository:

https://github.com/tintoy/msbuild-project-tools-server

and this one:

https://github.com/tintoy/msbuild-project-tools-vscode

As these are being consulted to setup the configuration handler for this project.

Thanks @tintoy! 😄

[2019-03-02 14:31] AdmiringWorm opened #137 "Change validation rules to make use of a package class instead of the XmlDocumentSyntax"
## Expected Behavior

When adding a new validation rule, it would be easier if we have a separate class
that is passed in to each validation rule they can use instead of needing to traverse
the xml document syntax itself.

## Current Behavior

Currently, we'll need to traverse the xml document ourself and find the element that we
need to check.

## Possible Solution

Got some ideas I'm testing out

[2019-03-02 14:55] mkevenaar commented on #137
Makes sense to me, the package-validator uses `NuGet.IPackage` to do this.

Perhaps we can make use of that class as well?

[2019-03-02 15:06] AdmiringWorm commented on #137
While we could certainly do that, I'm not completely sure we should.

Mainly because we'll need additional information to create a diagnostic in the validation rule.

[2019-03-02 15:06] AdmiringWorm commented on #137
And we need that for every property.

[2019-03-03 21:58] gep13 commented on #124
Also making use of these:

https://github.com/Jason-Rev/vscode-spell-checker

https://github.com/DavidAnson/markdownlint

[2019-03-03 22:11] gep13 commented on #121
This has turned into a breaking change.  I have altered the way that the configuration is put together, to group things into objects.  Going forward the possible configuration is going to look like the following:

![image](https://user-images.githubusercontent.com/1271146/53702653-2d745980-3e01-11e9-8207-3137728015ad.png)

This will allow for future expansion, and also better groups everything int

[2019-03-03 22:35] gep13 opened #139 "Make use of the allowSuppressionOfRequirements configuration property"
When set, the user should be able to suppress a requirement, which isn't allowed out of the box.

Currently, this property isn't implemented at all.  User is able to suppress all rules currently.

[2019-03-03 22:37] gep13 opened #140 "Add CodeActions of suppressing rules"
This should be possible similar to the following screenshot:

[![image](https://user-images.githubusercontent.com/1271146/53688760-c7280200-3d40-11e9-9bfd-508940439e5b.png)]

[2019-03-03 22:42] #121 closed

[2019-03-04 08:41] gep13 opened #142 "Once a rule is suppressed, it remains as shown in current document"
Steps to reproduce:

1. Open document with all rules active
1. Open settings and suppress a rule, for example `CHOCO0001`
1. Notice that squiggly line for that rule is still present
1. Close/open VSCode again, and rule violation will no longer be shown

As a result of changing suppressed rules, I think we need to clear the current diagnostics, and resubmit them.  There is code for doing this in @t

[2019-03-04 11:31] tintoy commented on #142
Hi - I’m about to go to bed (am in Australia), but will have a proper look at this tomorrow morning :)

[2019-03-04 13:28] gep13 opened #143 "Document potential caching issue when testing extension"
As per discussion with @AdmiringWorm on Gitter.

[2019-03-04 14:11] #109 closed

[2019-03-04 22:34] tintoy commented on #142
From what I remember, you send all diagnostics for a given document each time. So all diagnostics for a given document URI replace any existing diagnostics for that document URI. Does that help?

[2019-03-04 22:35] tintoy commented on #142
(i.e. if there are no no diagnostics, send an empty list of diagnostics for that document)

[2019-03-06 15:55] AdmiringWorm commented on #142
@tintoy I would say that the problem is more on how to get the diagnostics check to run again for the opened documents after the settings have been saved.

[2019-03-06 16:55] gep13 commented on #142
@AdmiringWorm this is sort of where I thought this would come in:

https://github.com/tintoy/msbuild-project-tools-server/blob/dbc74e841eb660826088e9cf94edb63f01631dd7/src/LanguageServer.Engine/Documents/Workspace.cs#L286-L298

i.e. once we know that the suppression rules have changed, clear the diagnostics out, and then run the checks again.

[2019-03-06 19:29] kcswe opened #155 "Error message when installing the extension using Chocolatey"
Error message when installing the extension using Chocolatey
## Expected Behavior

No error messages when installing

## Current Behavior

Error message like below:
(node:13596) [DEP0005] DeprecationWarning: Buffer() is deprecated due to security and usability issues. Please use the Buffer.alloc(), Buffer.allocUnsafe(), or Buffer.from() methods instead.

## Possible Solution

## Steps to Reproduce

[2019-03-06 19:47] tintoy commented on #142
My configuration handler has a [hookable event](https://github.com/tintoy/msbuild-project-tools-server/blob/dbc74e841eb660826088e9cf94edb63f01631dd7/src/LanguageServer.Engine/Handlers/ConfigurationHandler.cs#L48) which various other bits and pieces use to react to configuration changes. That might give you what you're after :)

[2019-03-06 21:43] steviecoaster commented on #155
I believe this is probably coming from Visual Studio itself, and is related to NPM? @gep13 can you confirm my theory?

[2019-03-07 01:53] kamareb opened #156 "choc doc"
## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Module version used:
* Operating System and PowerShell version:

[2019-03-07 01:54] kamareb opened #157 "gep13/choco"
## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Module version used:
* Operating System and PowerShell version:

[2019-03-07 01:54] kamareb opened #158 "choco-vscode"
## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Module version used:
* Operating System and PowerShell version:

[2019-03-07 11:06] gep13 commented on #158
@kamareb looks like this issue was creating in error, as there is no content here.

[2019-03-07 11:06] #158 closed

[2019-03-07 11:06] gep13 commented on #157
@kamareb looks like this issue was creating in error, as there is no content here.

[2019-03-07 11:06] #157 closed

[2019-03-07 11:07] gep13 commented on #156
@kamareb looks like this issue was creating in error, as there is no content here.

[2019-03-07 11:07] #156 closed

[2019-03-08 07:39] #137 closed

[2019-03-08 11:14] AdmiringWorm commented on #70
I'm working on the copyright minimum length requirement rule

[2019-03-08 11:35] AdmiringWorm commented on #70
PR opened (#161),
Now looking at the Deprecated package should have dependency requrirement.

[2019-03-08 11:59] AdmiringWorm opened #162 "Package parser does not correctly parse dependencies specified in the nuspec file"
## Expected Behavior

Expected the package dependencies class to be populated with the dependencies specified in the nuspec file.

## Current Behavior

The dependencies are skipped.

## Possible Solution

Update the parser to first handle the `<dependencies>` node, before trying to get the information of each dependency. (already working on it).

## Steps to Reproduce (for bugs)

1. Open a nuspec

[2019-03-08 14:38] mkevenaar commented on #110
This one is not relevant anymore.

[2019-03-08 14:38] #110 closed

[2019-03-08 15:48] AdmiringWorm commented on #70
I will be looking into creating validation rules for all of the 6 remaining requirements (not the ReleaseNotesUrls and DescriptionUrls checks though).

[2019-03-08 18:05] AdmiringWorm commented on #70
All requirement rules I worked on now have a PR opened.

[2019-03-08 18:23] mkevenaar commented on #70
@AdmiringWorm You are on a roll! Great work!

[2019-03-08 18:55] AdmiringWorm commented on #70
@mkevenaar well, I needed something to do, right? 😸

[2019-03-08 19:04] mkevenaar commented on #70
I'm going to start with some of the Notes.

[2019-03-08 19:07] AdmiringWorm commented on #70
@mkevenaar I have the `PackageIdContainsUnderscore` note implemented locally.
I'm waiting on pushing it until some of the PR's I've added is merged (I'm dependent on two of them, since I'm using code I added in two of the PR's).

`ContainsAny` string helper method being one of them.
And an override of CreateDiagnostic (allowing the text index to be used) for the second one.

[2019-03-08 19:10] AdmiringWorm commented on #70
@mkevenaar also, I would skip the one for checking the dependency `chocolatey` for now, unless you wish to depend on #163

[2019-03-08 19:11] AdmiringWorm commented on #162
@allcontributors please add @AdmiringWorm for bugs

[2019-03-08 19:11] mkevenaar commented on #70
Did you assign an ID to it yet?

[2019-03-08 19:21] AdmiringWorm commented on #70
Not important, as I haven't pushed the changes.
If you open a PR, I'll just change the ID.

[2019-03-08 22:40] #162 closed

[2019-03-09 16:07] AdmiringWorm commented on #155
This is indeed from vscode itself.

They seems to have the issue tracked here: https://github.com/Microsoft/vscode/issues/67534

[2019-03-09 18:27] AdmiringWorm commented on #70
hmm, been thinking of the encoding check guideline.
Unless there is some way to hook into the save event of a file, I think this is very unlikely that we are able to implement correctly in the language server.

[2019-03-09 20:53] AdmiringWorm commented on #70
I'll be looking into creating a rule for the missing suggestion (The one about icon url being svg or png).

[2019-03-09 21:54] AdmiringWorm commented on #70
@mkevenaar I just pushed the note rule I had been working on. I used the rule code `choco3001`.

[2019-03-12 21:18] #103 closed

[2020-01-28 01:08] steviecoaster commented on #69
Quick update. I have a local branch that implements this. Poorly at the minute, but it's a work in progress.

[2020-02-03 21:51] gep13 opened #330 "Download Chocolatey LSP assembly at runtime"
When first running the Chocolatey VSCode extension, if LSP is enabled, we should attempt to download the LSP assembly from somewhere.

That somewhere, will be a NuGet v3 feed, which is configured in the User Settings of VSCode.  The settings will also include a version number, which could can be set to a wildcard.  Wildcard will attempt to install the latest version available on the feed.  A speci

[2020-08-10 18:30] gep13 opened #404 "Invalid error shown when attempting to run Create new Chocolatey package"
Steps to reproduce:

1. Open VSCode
1. Close any folder/workspace that is open
1. Create a new file
1. Run the "Create new Chocolatey package" command
1. Two errors will be shown, when there should be only one

Running the above results in the following:

![image](https://user-images.githubusercontent.com/1271146/89817252-c1db0380-db3f-11ea-9ada-b026eecd5eb9.png)

Namely, two errors are being show

[2020-08-12 20:09] #404 closed

[2020-11-04 22:13] bnason-nf opened #427 "Don't require ChocolateyInstall environment variable"
The extension currently identifies the location of the chocolatey install by looking at `process.env.ChocolateyInstall`. If that variable isn't set, it fails with the message "Chocolatey is not installed", even if it is installed and choco is in the path. It would be nice if it could instead just attempt to execute the choco command to see if it's in the path, or at least as a fallback if the envi

[2022-04-01 07:48] JPRuskin commented on #427
That makes sense!

It looks like adding a bit of extra handling after checking [process.env.ChocolateyInstall](https://github.com/chocolatey-community/chocolatey-vscode/blob/e05bdb1803226c03aa85d98cb9e43d089ee2d1a6/src/config.ts#L24) should make it more resilient - and there was a TODO there, anyway.

[2022-04-01 07:50] JPRuskin commented on #155
It looks like the linked issue has been closed off - I'll try replicating this today, and if it doesn't happen we can probably close this issue.

[2022-04-01 09:31] JPRuskin commented on #155
Hm. Looks like it's still happening, here:

![image](https://user-images.githubusercontent.com/1975761/161236896-f64a51f0-e5ea-497e-9184-28b90dca37a7.png)

[2022-04-07 01:32] corbob commented on #155
This is a vscode issue: https://github.com/microsoft/vscode/issues/82524